{% extends 'base/baseIndex.html'%}

<!-- Header -->
{% block Header %}
<header class="masthead text-center text-white d-flex">
	<div class="container my-auto">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h2 class="text-uppercase">
					<strong> Impulsamos la Educación</strong>
				</h2>
				<hr>
			</div>
			<div class="col-lg-8 mx-auto">
				<p class="text-faded mb-5">Educación flexible y horizontal, donde es posible equilibrar vida y el trabajo y donde prima la confianza y el compañerismo</p>
			</div>
		</div>
	</div>
</header>
{% endblock %}

<!-- Section -->
{% block Section%}
<section class="bg-primary" id="acerca">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">Nuestro compromiso</h2>
				<hr class="light my-4">
				<p class="text-faded mb-4">Lograr una EDUCACIÓN DE CALIDAD, que forme mejores seres humanos, ciudadanos con valores éticos, competentes, respetuosos de lo público, que ejercen los derechos humanos, cumplen con sus deberes y conviven en paz. </p>
			</div>
		</div>
	</div>
</section>

<section id="historia">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Esta es nuestra historia</h2>
				<hr class="my-4">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-history text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Inicios</h3>
					<p class="text-muted mb-0">...</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-check-circle text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Progreso</h3>
					<p class="text-muted mb-0">...</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Lo que tenemos</h3>
					<p class="text-muted mb-0">...</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Amamos lo que hacemos</h3>
					<p class="text-muted mb-0">...</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
